@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");

/* Most browsers Up/down arrow removing*/
input::webkit-outer-spin-button,
input::webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*Firefox up/down arrow removing*/
input[type="number"] {
  -moz-appearance: textfield;
}
/*OperaGX up/down arrow removing*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 24pt;
  text-align: center;
}
html {
  height: 100%;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 14pt;
  background: rgb(22, 22, 22);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 0;
}
section {
  background: #243851;
  border-radius: 10px;
  border-style: solid;
  border-color: #b9d5e7;
  width: 500px;
  margin: auto;
  margin-top: 10pt;
}
div#data_enter {
  text-align: left;
  margin-left: 60px;
}

input {
  margin-left: 10px;
}

div#damage {
  text-align: center;
}
div#list {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

form {
  max-height: 300px;
  text-align: left;
  margin-left: 160px;
}
div#pet {
  text-align: center;
}
div#button {
  text-align: center;
  padding: 10pt 0;
}
#level {
  margin-bottom: 0px;
}
#main_stats,
#harrier {
  margin-top: 7px;
  margin-bottom: 0px;
}
#Damage {
  margin-top: 7px;
}
#yourLV_string,
#monsterLV_string,
#ATK_string,
#sATK_string,
#crit_r_string,
#crit_d_string,
#harrier_d_string,
#harrier_r_string,
#buffs_string,
#skill_multi_string {
  width: 100px;
  float: right;
  margin-right: 60px;
  border-width: 1px;
}
div#end {
  font-family: "Montserrat", sans-serif;
  font-size: 11pt;
  max-width: 500px;
  margin: 25pt auto;
  text-align: justify;
}
#comment1 {
  margin-bottom: 5pt;
  line-height: 1.2;
}
span#me {
  color: #ebb82b;
}
#comment2 {
  margin-top: 5pt;
}
#comment3 {
  font-size: 10pt;
  margin-top: 15pt;
  margin-bottom: 5pt;
  line-height: 1.5;
}
a.one:link,
a.one:visited {
  color: #12d3b6;
  font: bold;
}
a.one:hover,
a.one:focus,
a.one:active {
  color: #00f7ff;
}
img#br {
  height: 12px;
  width: 17px;
}
a.two:link {
  color: white;
  text-decoration: none;
}
a.two:visited,
a.two:hover,
a.two:focus,
a.two:active {
  color: white;
}

#skill {
  box-sizing: border-box;
  appearance: none;
  border: none;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  transition: 0.5s;
  font-weight: bold;
}
#skill:hover {
  opacity: 0.5;
}

.divider-content {
  border-top: dashed white 1px;
  margin: 0 15%;
  margin-top: 20pt;
}

footer {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-size: 10pt;
}

.response-list-item {
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  background-color: #243851;

  border-radius: 10px;
  border-style: solid;
  border-color: #b9d5e7;
}
.response-list-item-title {
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5pt;
}

.response-list-item-content {
  display: flex;
  justify-content: space-around;
}

.response-list-item-value {
  font-size: 12pt;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.yellow {
  color: yellow;
}
div#update {
  margin-left: 4px;
}
div#flags {
  margin-right: 4px;
}
